@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: Epilogue;
    background-image: linear-gradient(pink, rgb(222, 208, 255));

    --typography-base: 16px;
    --type-line-height: calc(1.5* var(--typography-base));
    --spacing: 10px;

    --black: black;
}


/* H1 */
h1 {
    font-size: calc(10* var(--typography-base));
}

/* BODY COPY */
p {
    width: 55%;
    line-height: calc(1.6 * var(--typography-base));
}

section:nth-child(2) {
    background-color: tomato;
}