@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ******************************************************************* */


:root {
    --typography-base: 16px;
    --spacing: 10px;
    /* background-image: linear-gradient(rgb(248, 175, 175), rgb(188, 168, 234)); */
    /* background-image: linear-gradient(rgb(233, 233, 233), rgb(123, 123, 123)); */
    /* background-image: linear-gradient(rgb(189, 230, 255), rgb(62, 181, 255)); */
    /* background-image: linear-gradient(rgb(255, 231, 76), rgb(255, 164, 36)); */
    /* background-image: linear-gradient(#F3CFC6, rgb(198, 231, 195)); */

    --black: black;
    --white: white; 
    --darkgrey: #0B0B0B;
}
/* MEDIA QUERIES - LARGE SCREENS */
@media (min-width: 1280px) {
    .navbar {
        width: 55%;
        font-size: calc(1.2* var(--typography-base));
    }
    
    h1 {
            font-family: bungee shade;
            font-weight: 400;
            font-size: calc(9* var(--typography-base));
            line-height: calc(9.5* var(--typography-base));
            width: 75%;
            margin-top: 100px;
            margin-bottom: 80px
        }  

    .heading-identity {
            font-family: bungee shade;
            font-weight: 400;
            font-size: calc(7* var(--typography-base));
            line-height: calc(7.8* var(--typography-base)); 
            width: 80%;  
            margin-top: 100px;
            margin-bottom: 80px
        }

    .heading-introduction {
            font-family: koulen;
            font-size: calc(10* var(--typography-base));
            line-height: calc(11* var(--typography-base)); 
            width: 80%;  
            margin-top: 100px;
            margin-bottom: 80px
        }
    
    p {
            font-family: dm sans;
            font-size: calc(1.6* var(--typography-base));
            line-height: calc(2.7* var(--typography-base));
            font-weight: 400;
            width: 50%;
            padding-bottom: 50px;
        }
    
    .author {
            font-family: dm sans;
            font-weight: 600;
            font-weight: 500;
            font-size: calc(2.5* var(--typography-base));
            margin-bottom: 100px;
        }

     .pull-quote {
            font-family: dm sans;
            width: 50%;
            font-weight: 600;
            font-size: calc(2.4* var(--typography-base));
            line-height: calc(3.4* var(--typography-base));
            margin-left: 15%;
        }

}

/* ******************************************************************* */
/* MEDIA QUERIES - SMALL LAPTOPS? */
@media (max-width: 1280px) {
    .navbar {
        width: 65%;
        font-size: calc(1.2* var(--typography-base));
    }

    h1 {
        font-family: bungee shade;
        font-weight: 400;
        font-size: calc(7.8* var(--typography-base));
        line-height: calc(8.2* var(--typography-base));   
        margin-top: 70px;
        margin-bottom: 60px;
        width: 70%; 
    }  

    .heading-identity {
        font-family: bungee shade;
        font-weight: 400;
        font-size: calc(6* var(--typography-base));
        line-height: calc(6.4* var(--typography-base));   
        margin-top: 70px;
        margin-bottom: 60px;
        width: 65%;
    }

    .author {
        font-family: dm sans;
        font-weight: 600;
        font-size: calc(2* var(--typography-base));
        margin-bottom: 100px;
    }

    p {
        font-family: dm sans;
        font-weight: 500;
        font-size: calc(1.5* var(--typography-base));
        line-height: calc(2.4* var(--typography-base));
        width: 60%;
        padding-bottom: 40px;
    }

    .pull-quote {
        font-family: dm sans;
        width: 60%;
        font-weight: 600;
        font-size: calc(2.2* var(--typography-base));
        line-height: calc(3* var(--typography-base));
        margin-left: 15%;
        padding-top: 50px;
        padding-bottom: 50px;
    
    }
}
/* ******************************************************************* */
/* MEDIA QUERIES - TABLET */
@media (max-width: 768px) {
    .navbar {
        width: 70%;
        font-size: calc(0.9* var(--typography-base));
    }

    h1 {
        font-family: epilogue;
        font-weight: 800;
        font-size: calc(8.5* var(--typography-base));
        line-height: calc(9.2* var(--typography-base));
        margin-top: 50px;
        margin-bottom: 30px
    }  

    .heading-identity {
        font-family: epilogue;
        font-weight: 800;
        font-size: calc(5* var(--typography-base));
        line-height: calc(5.5* var(--typography-base));
        margin-top: 50px;
        margin-bottom: 30px
    }

    .author {
        font-family: hanken grotesk;
        font-weight: 600;
        font-size: calc(2* var(--typography-base));
        margin-bottom: 70px;
    }

    p {
        font-family: hanken grotesk;
        font-weight: 400;
        font-size: calc(1.5* var(--typography-base));
        line-height: calc(2.2* var(--typography-base));
        width: 80%;
    }

    .pull-quote {
        font-family: staatliches;
        width: 80%;
        font-weight: 600;
        font-size: calc(3* var(--typography-base));
        line-height: calc(3.6* var(--typography-base));
        margin: auto;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

/* ******************************************************************* */
/* MEDIA QUERIES - MOBILE */
@media (max-width: 400px) {
    .navbar {
        width: 90%;
        font-size: calc(0.7* var(--typography-base));
    }

    h1 {
        font-family: koulen;
        font-size: calc(6.4* var(--typography-base));
        line-height: calc(6.4* var(--typography-base));
        margin-top: 50px;
        margin-bottom: 30px
    }   

    .heading-identity {
        font-family: koulen;
        font-size: calc(3.9* var(--typography-base));
        line-height: calc(4.6* var(--typography-base));
        margin-top: 50px;
        margin-bottom: 30px
    }

    .author {
        font-family: dm mono;
        font-weight: 500;
        font-size: calc(1.8* var(--typography-base));
        margin-bottom: 60px;
    }
    
    p {
        font-family: cardo;
        font-size: calc(1.5* var(--typography-base));
        line-height: calc(2.4* var(--typography-base));
        width: 85%;
    }
    
    .pull-quote {
        font-family: dm mono;
        width: 85%;
        font-weight: 500;
        font-size: calc(1.5* var(--typography-base));
        line-height: calc(2.2* var(--typography-base));
        margin: auto;
        padding-top: 40px;
        padding-bottom: 40px;
}

}

/* ******************************************************************* */
/* H1 */
h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* SUB HEADING */
.author {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* P */


/* PULL QUOTES */
p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

/* ******************************************************************* */
/* OMG, IT'S THE NAVBAR! PAIN IN MY FUCKING BUTT */
.navbar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2ch;
    padding: 1.5ch;
    display: flex;
	flex-direction: row;
    font-family: dm sans;
    font-weight: 500;
    text-align: center;
    border-radius: 100px;
    border-style: solid;
    border-color: var(--darkgrey);
    stroke-width: 10px;
    background-color: var(--white);
    color: var(--darkgrey);
}

li {
    padding: 5px;
    width: 25%;
}


.gradient-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    font-family: inclusive sans;
    font-weight: 400;
    font-size: calc(1.5* var(--typography-base));
    padding: calc(1.5* var(--spacing));
    border-radius: var(--spacing);
    stroke-width: 3px;
    border-color: var(--darkgrey);
    background-color: var(--white);
    color: var(--darkgrey);
}

/* ******************************************************************* */
/* FOOTER */
footer { 
    background-color: var(--darkgrey);
    font-family: inclusive sans;
    font-weight: 700;
    padding: 30px;

}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    text-align: left;
    color: var(--white);
}