@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/* ******************************************************************* */


:root {
    --heading-font-1: 'Bungee Shade', sans-serif;
    --heading-font-2: 'Silkscreen', sans-serif;
    --heading-font-3: 'Koulen', sans-serif;
    --heading-font-4: 'Epilogue', sans-serif;
    --heading-font-5: 'DM Serif Display', serif;

    --body-font-1: 'DM Sans', sans-serif;
    --body-font-2: 'Epilogue', sans-serif;
    --body-font-3: 'Cardo', serif;
    --body-font-4: 'DM Mono', monospace;
    --body-font-5: 'Inclusive Sans', sans-serif;

    --typography-base: 16px;
    --spacing: 10px;


    --black: black;
    --white: white; 
    --darkgrey: #0B0B0B;
}

h1, h2, h3, p {
    margin-left: auto;
    margin-right: auto;
}
h2, h3, p {
    text-align: left;
}

.author, .pull-quote {
    margin-left: auto;
    margin-right: auto;
}

/* ******************************************************************* */
/* H1 */
h1{
    font-family: var(--heading-font-1);
    font-size: calc(3.6* var(--typography-base));
    text-align: center;
    margin-top: 1em;
}

h2 {
    font-family: var(--body-font-1);
    font-weight: 700;
    font-size: calc(2* var(--typography-base));
    margin-top: 2em;
    margin-bottom: 1em;

}

h3 {
    font-family: var(--body-font-1);
    font-weight: 700;
    font-size: calc(1.8* var(--typography-base));

}

.heading-identity {
    font-family: var(--heading-font-1);
    font-size: calc(2.6* var(--typography-base));
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* AUTHOR NAME */
.author {
    font-family: var(--body-font-5);
    font-size: calc(1.5* var(--typography-base));
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
}

/* P */
p {
    font-family: var(--body-font-1);
    font-size: var(--typography-base);
    line-height: calc(1.7* var(--typography-base));
    text-align: left;
    margin-top: 2em;
    /* margin-bottom: 1em; */
    width: 85%;
}

/* PULL QUOTES */
.pull-quote {
    font-family: var(--body-font-4);
    font-size: calc(1.2* var(--typography-base));
    margin-top: 2em;
    margin-bottom: 2em;
}

/* ******************************************************************* */
  /* MAIN, ASIDE, ARTICLE - ARTICLE 2 & 3 */

/* .contents-items {
    font-family: var(--body-font-1);
    font-size: calc(1.3* var(--typography-base));
    font-weight: 500;
} */

aside {
    display: none;
}

.sticky {
    display: none;
}
article {
    width: 100%;
}

/* ******************************************************************* */
/* HOME PAGE */
.text-name {
    margin-left: auto;
    margin-right: auto;
}

/* ******************************************************************* */
/* NAVBAR */
nav {
    position: relative;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    border-style: solid;
    stroke-width: 2px;
}

.buttons-mobile {
    width: 100%;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing);
}

.navbar-button {
    font-family: var(--body-font-1);
    font-size: calc(1.1* var(--typography-base));
    font-weight: 500;
    border-style: solid;
    border-radius: 0.8em;
    stroke-width: 2px;
    padding: 0.5em;
}

.randomize {
    display: none;
}

/* ******************************************************************* */
/* GO TO TOP BUTTON */
.top-button {
    position: fixed;
    right: 2em;
    z-index: 99;
    bottom:5em;
    background-color: var(--white);
    border-style: solid;
    border-radius: 0.8em;
    stroke-width: 2px;
    padding: 0.7em 2em 0.7em 2em;
    font-family: var(--body-font-1);
    font-size: calc(1.1* var(--typography-base));
}

button:hover {
    background-color: var(--darkgrey);
    color: var(--white);
}


/* ******************************************************************* */
/* SECTIONS ARTICLE 3 */
.visual-break {
    background-color: var(--darkgrey);
    color: var(--white);
    margin-bottom: 5ch;
    margin-top: 5ch;
}

.ad-text {
    font-family: dm mono;
    text-align: center;
    padding-top: 5ch;
    padding-bottom: 5ch;
}


/* ******************************************************************* */
/* FOOTER */
footer { 
    font-family: var(--body-font-1);
    font-weight: 600;
    margin-top: 7em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: var(--darkgrey);
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: left;
    color: var(--white);
}



/* ******************************************************************* */
/* MEDIA QUERIES - LARGER SCREENS */
@media (min-width: 775px) {
    h1{
        width: 70%;
        font-size: calc(8* var(--typography-base));
        margin-top: 1em;
    }
    
    .heading-identity {
        width: 75%;
        font-size: calc(6* var(--typography-base));
        margin-top: 1em;
    }

    h2{
        font-size: calc(2.6* var(--typography-base)); 
    }
    
    /* AUTHOR NAME */
    .author {
        font-family: var(--body-font-5);
        font-size: calc(2.4* var(--typography-base));
    }
    
    /* P */
    p {
        width: 60%;
        font-size: calc(1.5*var(--typography-base));
        line-height: calc(2.2* var(--typography-base));
        margin-top: 1em;
    }
    
    /* PULL QUOTES */
    .pull-quote {
        font-family: var(--body-font-4);
        font-size: calc(2* var(--typography-base));
        line-height: calc(2.9* var(--typography-base));
    }

    .buttons-mobile {
        gap: calc(2* var(--spacing));
    }

    .navbar-button {
        font-family: var(--body-font-1);
        font-size: calc(1.4* var(--typography-base));
    }

    .randomize {
        display: inline;
    }
}

main {
    display: flex;
    flex-direction: row;
    gap: char(2*var(--spacing));
}

aside {
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 30%;
    margin-left: 5em;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    gap: char(3*var(--spacing));
}

article {
    width: 70%;
}
