@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ******* */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
/* ******************************************************************* */


:root {
    --heading-font-1: 'Bungee Shade', sans-serif;
    --heading-font-2: 'Silkscreen', sans-serif;
    --heading-font-3: 'Koulen', sans-serif;
    --heading-font-4: 'Epilogue', sans-serif;
    --heading-font-5: 'DM Serif Display', serif;

    --body-font-1: 'DM Sans', sans-serif;
    --body-font-2: 'Epilogue', sans-serif;
    --body-font-3: 'Cardo', serif;
    --body-font-4: 'DM Mono', monospace;
    --body-font-5: 'Inclusive Sans', sans-serif;

    --typography-base: 16px;
    --spacing: 10px;


    --black: black;
    --white: white; 
    --darkgrey: #0B0B0B;
}
/* MEDIA QUERIES - LARGE SCREENS */
@media (min-width: 790px) {
}



/* ******************************************************************* */
/* H1 */
h1{
    font-family: var(--heading-font-1);
    font-size: calc(3.6* var(--typography-base));
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.2em;
}

/* AUTHOR NAME */
.author {
    font-family: var(--body-font-5);
    font-size: calc(1.5* var(--typography-base));
    margin-top: 1em;
    margin-bottom: 1em;

}

/* P */
p {
    font-family: calc(1.2*var(--body-font-1));
    font-size: var(--typography-base);
    line-height: calc(1.7* var(--typography-base));
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 80%;
}

/* PULL QUOTES */
.pull-quote {
    font-family: var(--body-font-4);
    font-size: calc(1.2* var(--typography-base));
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.heading-identity {
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* SUB HEADING */
.author {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* HOME PAGE TEXT NAMES */
.text-name {
    margin-left: auto;
    margin-right: auto;
}

/* ******************************************************************* */
/* NAVBAR */
nav {
    position: relative;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    border-style: solid;
    stroke-width: 2px;

    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    gap: calc(1.2* var(--spacing));
}


.navbar-button {
    font-family: var(--body-font-1);
    font-size: calc(1.1* var(--typography-base));
    font-weight: 500;
    border-style: solid;
    border-radius: 0.8em;
    stroke-width: 2px;
    padding: 0.5em;
}

/* ******************************************************************* */
/* GO TO TOP BUTTON */
.top-button {
    position: fixed;
    right: 30px;
    z-index: 99;
    bottom:7em;
    background-color: var(--white);
    border-style: solid;
    border-radius: 0.8em;
    stroke-width: 2px;
    padding: 0.7em 2em 0.7em 2em;
    font-family: var(--body-font-1);
    font-size: calc(1.1* var(--typography-base));
}


/* ******************************************************************* */
/* SECTIONS ARTICLE 1 */
.section-feeling-1, .section-feeling-2, .section-feeling-3, .section-feeling-4, .section-feeling-5, .section-feeling-6{
    background-color: var(--white);
    border-radius: 70px;
    /* border-style: solid; */
    /* border-color: var(--darkgrey); */
    /* stroke-width: 10px; */
    padding-top: 70px;
    padding-bottom: 50px;
    /* margin-top: 10ch; */
}

  

/* ******************************************************************* */
/* SECTIONS ARTICLE 3 */
.visual-break {
    background-color: var(--darkgrey);
    color: var(--white);
    margin-bottom: 5ch;
    margin-top: 5ch;
}

.ad-text {
    font-family: dm mono;
    text-align: center;
    padding-top: 5ch;
    padding-bottom: 5ch;
}


/* ******************************************************************* */
/* BUTTONS */
.gradient-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* button {
    margin-left: auto;
    margin-right: auto;
    font-family: inclusive sans;
    font-weight: 400;
    font-size: calc(1.5* var(--typography-base));
    padding: calc(1.5* var(--spacing));
    border-radius: var(--spacing);
    border-style: solid;
    stroke-width: 3px;
    border-color: var(--darkgrey);
    background-color: var(--white);
    color: var(--darkgrey);
} */

button:hover {
    background-color: var(--darkgrey);
    color: var(--white);
}

/* ******************************************************************* */
/* FOOTER */
footer { 
    font-family: var(--body-font-1);
    font-weight: 600;
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: var(--darkgrey);
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin: auto;
    text-align: left;
    color: var(--white);
}